<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Canvas{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Emicrograph Dev Team">
    <meta name="description" content="">

    {% stylesheets
        '../app/Resources/css/bootstrap.min.css'
        '../app/Resources/css/bootstrap-responsive.min.css'
        '../app/Resources/css/bootstrap.override.css'
        '../app/Resources/css/styles.css'
        '../app/Resources/css/notebook.css'
        '../app/Resources/css/themes.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <header id="header">
        {% block header %}{% endblock %}
    </header>

    <div class="container-fluid primary-container">

        <div id="content" class="content">

            <div class="row-fluid">
                {% block content %}{% endblock %}
            </div>

        </div>

    </div>
    <!-- /container -->

    {% javascripts
        '../app/Resources/js/libs/jquery-1.7.1.min.js'
        '../app/Resources/js/libs/jquery-ui.min.js'
        '../app/Resources/js/libs/modernizr-2.5.3-respond-1.1.0.min.js'
        '../app/Resources/js/libs/underscore-min.js'
        '../app/Resources/js/libs/backbone-min.js'
        '../app/Resources/js/libs/bootstrap.min.js'
        '../app/Resources/js/libs/json2.js'
        '../app/Resources/js/Templates.js'
        '../app/Resources/js/helpers/*'
        '../app/Resources/js/views/*'
        '../app/Resources/js/models/*'
        '../app/Resources/js/collections/*'
        '../app/Resources/js/routers/*'
        '../app/Resources/js/App.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        var myCanvasList = {{ canvases|raw }};

        $(document).ready(function(){

            App.baseUrl = "{{ url('homepage') }}";
            App.user = {{ userJson|raw }};
            App.init();

        });

    </script>

    {% block closure %}{% endblock %}

</body>
</html>